/* Make the image fully responsive *
.carousel-inner img{
    width: 100%;
    height: 100%;
} /*

/* Navbar custom color */
.navbar-custom {
  background-color: #0d3d6d !important;
}
.navbar-custom .navbar-brand,
.navbar-custom .nav-link {
  color: #fcfcfc !important;
}
.navbar-custom .nav-link:hover {
  color: #fa0101 !important;
}

/* background color for website */

body {
    background-color: #0f0f0f;
}

/* Text color for website */
h1, h2, h3, h4, h5, h6, p, a, li, span, div {
    color: #b38de4;
}


/* Shopping cart slide*/
body {
  font-family: Arial, sans-serif;
}

/* Button */
.open-btn {
  margin: 20px;
  padding: 10px 15px;
  font-size: 16px;
}


body {
  margin: 0;
  background: #0b0b0b;
  color: white;
}

